# last modified 07 May 2016 by Massimo Aria

import("stats", "Matrix")
importFrom("dplyr", "mutate_each","funs")
importFrom("stringr", "str_replace_all")
importFrom("graphics", "barplot", "legend", "lines", "plot")
importFrom("utils", "data")

S3method(plot, bibliometrix)
S3method(summary, bibliometrix)

exportPattern("^[[:alpha:]]+")

	   

